.subTitle {
    font-size:1.5em;
}

.resultsTableHeaderRow {
    color: white;
    background-color: #265A87;
}
.categoryLink {
    margin-right:10px;
    white-space:nowrap;
}

.resultsTable {
    margin: 0px;
    border: 1px solid #265A87;
}
.resultsTable .resultsTableHeaderRow th {
    border:none;
}

.footer {
    background-color: #F5F5F5;
    border: 1px solid #C9C9C9;
    border-radius: 2px;
    padding: 7px;
}

/* screen-xs */
@media (max-width: 767px) {
    .resultsHeaderLeft {
        font-size: 1.7em;
        color: white;
        background-color: #265A87;
        padding: 0px;
        padding-left: 10px;
        border: 1px solid #265A87;
    }

    .resultsHeaderRight {
        font-size: 1.7em;
        color: white;
        background-color: #265A87;
        padding: 0px;
        padding-left: 10px;
        border: 1px solid #265A87;
    }
}

.resultsHeader {
    font-size: 1.7em;
    color: white;
    background-color: #265A87;
    padding: 0px;
    padding-left:7px;
    padding-right:7px;
    border: 1px solid #265A87;
}

.categoriesHeader {
    font-size: 1.5em;
    color: black;
    margin-top: 0px;
}

/* screen-sm */
@media (min-width: 768px) and (max-width: 991px) {
    .resultsHeaderLeft {
    }

    .resultsHeaderRight {
        text-align: right;
    }
    .categoriesHeaderLeft {
    }
    .categoriesHeaderRight {
        text-align:right;
    }
}

/* screen-md */
@media (min-width: 992px) and (max-width: 1199px) {
    .resultsHeaderLeft {
    }

    .resultsHeaderRight {
        text-align: right;
    }
    .categoriesHeaderLeft {
    }

    .categoriesHeaderRight {
        text-align:right;
    }

}

/* screen-lg */
@media (min-width: 1200px) {
    .resultsHeaderLeft {
    }

    .resultsHeaderRight {
        text-align:right;
    }
    .categoriesHeaderLeft {
    }

    .categoriesHeaderRight {
        text-align: right;
    }
}