.subTitle {
    font-size:1.5em;
}
.categoriesHeader {
    font-size:1.5em;
    color:black;
}
.resultsHeader {
    font-size: 1.5em;
    color: white;
}
.resultsTableHeaderRow {
    color: white;
    background-color: #265A87;
}
.categoryLink {
    margin-right:10px;
    white-space:nowrap;
}

.resultsTable .resultsTableHeaderRow th {
    border:none;
}